@import "tailwindcss";

@font-face {
  font-family: "Mabinogi_Classic";
  src: url("/fonts/Mabinogi_Classic.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "IbmPlexSans-Light";
  src: url("/fonts/IBMPlexSansKR-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "IbmPlexSans-Regular";
  src: url("/fonts/IBMPlexSansKR-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "IbmPlexSans-Medium";
  src: url("/fonts/IBMPlexSansKR-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "IbmPlexSans-Semi-bold";
  src: url("/fonts/IBMPlexSansKR-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@theme {
  --default-font-family: var(--font-body);
  --font-headline: "IbmPlexSans-Semi-bold";
  --font-title: "IbmPlexSans-Medium";
  --font-body: "IbmPlexSans-Regular";
  --font-content: "IbmPlexSans-Light";

  --color-primary-300: #166683;
  --color-primary-400: #30aedc;
  --color-primary-500: #98d7ee;
  --color-primary-600: #ddf4ff;

  --color-secondary-ivory: #fffdf3;
  --color-secondary-red: #fb2c36;

  --color-background-overlay: rgba(0, 0, 0, 0.5);

  --color-status-hover: var(--color-primary-300);

  --color-alert-error: #f54900;
  --color-alert-warning: #f9a825;
  --color-alert-success: #00c950;
}

:root {
  --font-display: "Mabinogi_Classic";
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .background-blur {
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0.71) 70%,
      rgba(255, 255, 255, 1) 100%
    );

    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
  }

  .text-logo {
    font-family: var(--font-display);

    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

    background-image: linear-gradient(
      to left,
      #ddf4ff 16%,
      #8cd3ef 48%,
      #63c3e6 72%,
      #30aedc 91%
    );

    width: 50%;
    /* background-size: 100% 100%; */
    /* background-repeat: no-repeat;
    display: inline-block; */
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
