@import "tailwindcss";

@font-face {
  font-family: "Mabinogi_Classic";
  src: url("/fonts/Mabinogi_Classic.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "IbmPlexSans-Regular";
  src: url("/fonts/IBMPlexSansKR-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "IbmPlexSans-Medium";
  src: url("/fonts/IBMPlexSansKR-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@theme {
  --default-font-family: var(--font-body);
  --font-logo: "Mabinogi_Classic";
  --font-headline: "IbmPlexSans-Semi-bold";
  --font-title: "IbmPlexSans-Medium";
  --font-body: "IbmPlexSans-Regular";
  --font-content: "IbmPlexSans-Light";

  --color-primary-300: #166683;
  --color-primary-400: #30aedc;
  --color-primary-500: #98d7ee;
  --color-primary-600: #ddf4ff;
  --color-primary-main: var(--color-primary-400);

  --color-grayscale-default: #f5f5f5;
  --color-grayscale-dark-gray: #333333;
  --color-grayscale-warm-gray: #999999;

  --color-background-overlay: rgba(0, 0, 0, 0.5);

  --color-status-hover: var(--color-primary-300);

  --color-alert-error: #f54900;
  --color-alert-warning: #f9a825;
  --color-alert-success: #00c950;
}

:root {
  --font-display: "Mabinogi_Classic";
  color: var(--color-grayscale-dark-gray);
  line-height: 1.5;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .shadow-box {
    box-shadow:
      0px 10px 15px -3px rgba(0, 0, 0, 0.1),
      0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  }

  .background-blur {
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0.71) 70%,
      rgba(255, 255, 255, 1) 100%
    );

    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
  }

  .text-logo {
    font-family: var(--font-display);

    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

    background-image: linear-gradient(
      to left,
      #ddf4ff 16%,
      #8cd3ef 48%,
      #63c3e6 72%,
      #30aedc 91%
    );

    width: 50%;
    /* background-size: 100% 100%; */
    /* background-repeat: no-repeat;
    display: inline-block; */
  }

  .text-title {
    font-family: "IbmPlexSans-Medium";
    font-size: 16px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* 라벨 기본 커서 설정 */
label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

input[type="radio"] {
  opacity: 0;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

input[type="radio"] + span::before {
  display: inline-block;
  content: "";
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--color-grayscale-warm-gray);
  border-radius: 100%;
  margin: -0.125rem 0.5rem 0 0;
  vertical-align: middle;
}

input[type="radio"]:disabled + span::before {
  border: 3px solid var(--color-grayscale-default);
  background-color: var(--color-grayscale-warm-gray);
}

input[type="radio"]:not(:disabled):hover + span::before {
  box-shadow: inset 0 0 0 3px var(--color-primary-500);
}

input[type="radio"]:checked:focus + span::before {
  border-color: var(--color-primary-500);
  box-shadow: inset 0 0 0 3px var(--color-primary-main);
}
