@import "tailwindcss";

@theme {
  --color-primary-100: #07222C;
  --color-primary-200: #0F4457;
  --color-primary-300: #166683;
  --color-primary-400: #30AEDC;
  --color-primary-500: #98D7EE;
  --color-primary-600: #C8F0FF;
  --color-primary-700: #DDF4FF;
  
  --color-primary-main: var(--color-primary-400);

  --color-secondary-ivory: #FFFDF3;
  --color-secondary-red: #FB2C36;

  --color-status-hover: var(--color-primary-300);

  --color-alert-error: #F54900;
  --color-alert-warning:#F9A825;
  --color-alert-success: #00C950;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
